@(
  postRoute: Call,
  cancelRoute: Call
)(
  formInputs: Html
)(
  implicit request: RequestHeader
)

@helper.form(postRoute) {
  @helper.CSRF.formField
  @formInputs
  <div class="button-rows">
    <a href="@cancelRoute" class="btn btn-danger btn-sm">Cancel</a>
    <button class="btn btn-primary btn-sm" type="submit">Confirm</button>
  </div>
}
<script>
  var inputs = $("input");
  inputs.each(function() {
    $(this).addClass("form-control");
    if ($(this).siblings("invalid").length == 1) {
      $(this).addClass("invalid");
    }
  });
</script>
