@(name: String, email: String, loggedIn: Boolean, activeIndex: Option[Int])

<nav class="navbar navbar-expand-lg navbar-dark unique-color">
  <!-- Title -->
  <a class="navbar-brand" href="@routes.PageController.index()">
    Class Activity Management System
  </a>
  @if(loggedIn) {
    <!-- Navigation -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item @if(activeIndex.get == 0) { active }">
        <a class="nav-link" href="@routes.CalendarController.index()">Calendar</a>
      </li>
      <li class="nav-item @if(activeIndex.get == 1) { active }">
        <a class="nav-link" href="@routes.ClassController.index()">Classes</a>
      </li>
      <li class="nav-item @if(activeIndex.get == 2) { active }">
        <a class="nav-link" href="@routes.LecturerController.index()">Lecturers</a>
      </li>
    </ul>
    <!-- User -->
    <form class="form-inline">
      <span class="navbar-text">
        <span id="name">@name</span>@email
      </span>
      <a href='@routes.AuthenticationController.logout()' class="btn btn-danger btn-sm">Logout</a>
    </form>
  }
</nav>
