@()(implicit flash: Flash, request: RequestHeader)

@main("Calendar", Some(0)) {

  <div class="row mb-3">
    <div class="col">
        <h1>Calendar</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Calendar -->
      <div id="calendar"></div>
    </div>
  </div>

  <!-- Event modal -->
  <div class="modal fade" id="event-modal" tabindex="-1">
    <div class="modal-dialog modal-notify modal-primary modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead">Perform an action</p>
        </div>
        <!-- Class information -->
        <div class="modal-body">
          <div id="event-modal-info">
            <h5 class="text-center mb-3">
              <strong id="event-modal-subject" data-toggle="tooltip" data-placement="right" title="apple"></strong><br>
              <small id="event-modal-class"></small>
            </h5>
            <p class="text-center">
              <span id="event-modal-date"></span><br>
              <span id="event-modal-time"></span><br>
              <span id="event-modal-venue"></span>
            </p>
          </div>
          <div id="event-modal-form">
            <form>
              <div class="md-form form-group">
                <input placeholder="Earliest date for replacement" type="text" id="event-modal-from" class="form-control datepicker">
                <label for="event-modal-from">From</label>
              </div>
              <div class="md-form form-group">
                <input placeholder="Latest date for replacement" type="text" id="event-modal-to" class="form-control datepicker">
                <label for="event-modal-to">To</label>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <!-- Cancel class button -->
          <button class="btn btn-secondary btn-sm" id="event-modal-cancel">Cancel Class</button>
          <!-- Replace class button -->
          <button class="btn btn-primary btn-sm" id="event-modal-replace">Replace Class</button>
          <!-- Loading spinner -->
          <div class="preloader-wrapper small active gone" id="event-modal-spinner">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

}
