@()(implicit flash: Flash, request: RequestHeader)

@main("Calendar", Some(0)) {

  <div class="row mb-3">
    <div class="col">
        <h1>Calendar</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Calendar -->
      <div id="calendar"></div>
    </div>
  </div>

  <!-- Event modal -->
  <div class="modal fade" id="event-modal" tabindex="-1">
    <div class="modal-dialog modal-notify modal-primary modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <p class="heading lead" id="event-modal-title">Manage class</p>
        </div>
        <div class="modal-body">
          <!-- Class information -->
          <div id="event-modal-info">
            <h5 class="text-center mb-3">
              <strong id="event-modal-subject" data-toggle="tooltip" data-placement="right" title="apple"></strong><br>
              <small id="event-modal-class"></small>
            </h5>
            <p class="text-center">
              <span id="event-modal-date" class="event-date"></span><br>
              <span id="event-modal-time" class="event-time"></span><br>
              <span id="event-modal-venue" class="event-venue"></span>
            </p>
          </div>
          <!-- Replacement form -->
          <div id="event-modal-form" class="gone">
            <form>
              <div class="md-form form-group">
                <input placeholder="Earliest date" type="text" id="event-modal-from" class="form-control datepicker">
                <label for="event-modal-from">From</label>
              </div>
              <div class="md-form form-group">
                <input placeholder="Latest date" type="text" id="event-modal-to" class="form-control datepicker">
                <label for="event-modal-to">To</label>
              </div>
            </form>
          </div>
          <!-- Replacement information -->
          <div id="event-modal-replacement" class="gone">
            <p class="text-center" id="event-modal-replacement-message"></p>
            <p class="text-center gone" id="event-modal-replacement-info">
              <span id="event-modal-replacement-date" class="event-date"></span><br>
              <span id="event-modal-replacement-time" class="event-time"></span><br>
              <span id="event-modal-replacement-venue" class="event-venue"></span><br>
            </p>
            <div class="progress gone" id="event-modal-replacement-bar">
              <div class="progress-bar" id="event-modal-replacement-percentage"></div>
            </div>
            <p class="text-center" id="event-modal-replacement-students"></p>
          </div>
        </div>
        <div class="modal-footer justify-content-center">
          <!-- Cancel class button -->
          <button class="btn btn-purple btn-sm" id="event-modal-cancel">Cancel Class</button>
          <!-- Replace class button -->
          <button class="btn btn-dark-green btn-sm" id="event-modal-replace">Replace Class</button>
          <!-- Back button -->
          <button class="btn btn-danger btn-sm gone" id="event-modal-back">Back</button>
          <!-- Confirm cancellation button -->
          <button class="btn btn-primary btn-sm gone" id="event-modal-confirm-cancel">Confirm Cancellation</button>
          <!-- Find replacement button -->
          <button class="btn btn-primary btn-sm gone" id="event-modal-find">Find Replacement</button>
          <!-- Confirm replacement button -->
          <button class="btn btn-primary btn-sm gone" id="event-modal-confirm-replacement">Confirm Replacement</button>
          <!-- Loading spinner -->
          <div class="preloader-wrapper small active gone" id="event-modal-spinner">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

}
