@()(implicit flash: Flash, request: RequestHeader)

@main("Calendar", Some(0)) {

  <div class="row mb-3">
    <div class="col">
        <h1>Calendar</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="calendar"></div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="event-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

}
