@(
  subjectItem: Subject,
  classItem: Class,
  daySelections: Seq[(String, String)],
  venueSelections: Seq[String],
  classForm: Form[ClassData]
)(
  implicit flash: Flash,
  request: RequestHeader,
  messagesProvider: MessagesProvider
)

@main("Edit Class", None) {

  <div class="row mb-3">
    <div class="col">
      <h1>Edit Class</h1>
      <h5 class="mt-2">
        <strong>@subjectItem.code</strong>
        <small class="text-muted">@subjectItem.semester</small>
        <strong>&middot;</strong>
        <strong>@classItem.category</strong>
        <small class="text-muted">Group @classItem.group</small>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      @components.form(
        routes.ClassController.update(classItem._id.get),
        routes.ClassController.index()) {
        @helper.select(
          classForm("Day"),
          options = daySelections,
          'id -> "day",
          'class -> "mdb-select"
        )
        @helper.inputText(
          classForm("Start Time"),
          'id -> "start-time",
          'class -> "form-control timepicker",
          'placeholder -> "Class start time"
        )
        @helper.inputText(
          classForm("End Time"),
          'id -> "end-time",
          'class -> "form-control timepicker",
          'placeholder -> "Class end time"
        )
        @helper.input(
          classForm("Venue"),
          'id -> "venue",
          'class -> "form-control mdb-autocomplete",
          'placeholder -> " "
        ) { (id, name, value, args) =>
          <input type="search" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
          <button class="mdb-autocomplete-clear">
            <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="https://www.w3.org/2000/svg">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
              <path d="M0 0h24v24H0z" fill="none" />
            </svg>
          </button>
        }
      }
      @for(venueSelection <- venueSelections) {
        <venueSelection class="gone">@venueSelection</venueSelection>
      }
      @if(classForm.hasGlobalErrors) {
        @for(error <- classForm.globalErrors) {
          <error class="gone">@error.format</error>
        }
      }
    </div>
  </div>

}
