@(
  subjectItem: Subject,
  classItem: Class,
  daySelections: Seq[(String, String)],
  venueSelections: Seq[(String, String)],
  classForm: Form[ClassData]
)(
  implicit flash: Flash,
  request: RequestHeader,
  messagesProvider: MessagesProvider
)

@main("Edit Class", None) {

  <div class="row mb-3">
    <div class="col">
      <h1>Edit Class</h1>
      <h5 class="mt-2">
        <strong>@subjectItem.code</strong>
        <small class="text-muted">@subjectItem.semester</small>
        <strong>&middot;</strong>
        <strong>@classItem.category</strong>
        <small class="text-muted">Group @classItem.group</small>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      @components.form(
        routes.ClassController.update(classItem._id.get),
        routes.ClassController.index()) {
        @helper.select(
          classForm("Day"),
          options = daySelections,
          'id -> "day",
          'class -> "mdb-select"
        )
        @helper.inputText(
          classForm("Start Time"),
          'id -> "time",
          'class -> "form-control timepicker",
          'placeholder -> "Class start time"
        )
        @helper.inputText(
          classForm("End Time"),
          'id -> "duration",
          'class -> "form-control",
          'placeholder -> "Class duration in minutes"
        )
        @helper.select(
          classForm("Venue"),
          options = venueSelections,
          'id -> "venue",
          'class -> "mdb-select"
        )
      }
    </div>
  </div>

}
