@import scala.collection.immutable.ListMap

@(
  subjectMap: ListMap[Subject, List[(Class, Option[String])]]
)(implicit flash: Flash, request: RequestHeader)

@main("Classes", Some(1)) {

  <div class="row mb-3">
    <div class="col-5" id="classes-header">
        <h1>Classes</h1>
        <!-- Fetch button -->
        <button class="btn btn-primary btn-sm" id="fetch-button">Fetch</button>
        <!-- Loading spinner -->
        <div class="preloader-wrapper small active gone" id="fetch-spinner">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <!-- Subject list -->
      @if(!subjectMap.isEmpty) {
        <ul class="list-group" id="subject-list">
          @for(subject <- subjectMap.keys) {
            <li class="list-group-item list-group-item-action waves-effect" data-self="@subject._id.get.stringify">
              <!-- Subject information -->
              <div>
                <strong>@subject.code</strong>
                <small class="text-muted">@subject.semester</small>
                <br>
                <small class="detail">
                  @if(subject.title.isDefined) {
                    @subject.title.get <strong>&middot;</strong> Ends @subject.endDate.get
                  } else {
                    (No details)
                  }
                </small>
              </div>
              <!-- Edit button -->
              <a href="@routes.SubjectController.edit(subject._id.get)" class="btn btn-secondary btn-sm edit-buttons gone">Edit</a>
            </li>
          }
        </ul>
      } else {
        <p>No class found</p>
      }
    </div>
    <div class="col-5">
      <!-- Class lists -->
      @if(!subjectMap.isEmpty) {
        @for((subject, classTuple) <- subjectMap) {
          <ul class="list-group class-lists gone" data-parent="@subject._id.get.stringify">
          @for((class_, venue) <- classTuple) {
            <li class="list-group-item list-group-item-action waves-effect" data-self="@class_._id.get.stringify">
              <!-- Class information -->
              <div>
                <strong>@class_.category</strong>
                <small class="text-muted">Group @class_.group</small>
                <br>
                <small class="detail">
                  @if(class_.day.isDefined) {
                    @class_.day.get <strong>&middot;</strong> @class_.startTime.get - @class_.endTime.get <strong>&middot;</strong> @venue.get
                  } else {
                    (No details)
                  }
                </small>
              </div>
              <!-- Edit button -->
              <a href="@routes.ClassController.edit(class_._id.get)" class="btn btn-secondary btn-sm edit-buttons gone">Edit</a>
            </li>
          }
          </ul>
        }
      }
    </div>
    <div class="col-2">
      <!-- Student lists -->
      @if(!subjectMap.isEmpty) {
        @for(classTuple <- subjectMap.values) {
          @for((class_, _) <- classTuple) {
            <ul class="list-group student-lists gone" data-parent="@class_._id.get.stringify">
              @for(student <- class_.students) {
                <li class="list-group-item">
                  <strong>@student</strong>
                </li>
              }
            </ul>
          }
        }
      }
    </div>
  </div>

}
