@import scala.collection.immutable.ListMap

@(
  subjectMap: ListMap[Subject, List[Class]]
)(implicit flash: Flash, request: UserRequest[AnyContent])

@main("Classes", true, Some(1)) {

  <div class="row mb-3">
    <div class="col-6" id="classes-header">
        <h1>Classes</h1>
        <!-- Fetch button -->
        <button class="btn btn-primary btn-sm" id="fetch-button">Fetch</button>
        <!-- Loading spinner -->
        <div class="preloader-wrapper small active gone" id="fetch-spinner">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Subject list -->
      @if(!subjectMap.isEmpty) {
        <ul class="list-group" id="subject-list">
          @for(subject <- subjectMap.keys) {
            <li class="list-group-item list-group-item-action waves-effect">
              <!-- Subject information -->
              <div>
                <strong>@subject.code</strong>
                <small class="text-muted subject-subtitles">@subject.semester</small>
                <br>
                <small>
                  @if(!subject.title.isEmpty) {
                    @subject.title.get
                  } else {
                    (No name)
                  }
                </small>
              </div>
              <!-- Edit button -->
              <a href="@routes.SubjectController.edit(subject._id.get)" class="btn btn-secondary btn-sm gone subject-edits">Edit</a>
            </li>
          }
        </ul>
      } else {
        <p>No class found</p>
      }
    </div>
    <div class="col">
      <!-- Class lists -->
      @for(classes <- subjectMap.values) {
        <ul class="list-group class-lists gone">
        @for(class_ <- classes) {
          <li class="list-group-item list-group-item-action waves-effect">
            <!-- Class information -->
            <div>
              <strong class="text-uppercase">@class_.category</strong>
              <small class="text-muted">Group @class_.group</small>
              <br>
              <small>
                @if(!class_.day.isEmpty) {
                  @class_.day.get| @class_.time.get | @class_.duration.get | @class_.venue.get
                } else {
                  (No details)
                }
              </small>
            </div>
          </li>
        }
        </ul>
      }
    </div>
  </div>

}
