@(
  subjectItem: Subject,
  classItem: Class
)(implicit flash: Flash, request: RequestHeader)

@main("View Class", None) {

  <div class="row mb-3">
    <div class="col">
      <h1>View Class</h1>
      <h5 class="mt-2">
        <strong>@subjectItem.code</strong>
        <small class="text-muted">@subjectItem.semester</small>
        <strong>&middot;</strong>
        <strong>@classItem.category</strong>
        <small class="text-muted">Group @classItem.group</small>
      </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <form class="forms">
        <div class="md-form form-group mt-5">
          <input id="day" value='@classItem.day.getOrElse("(Not set)")' class="form-control" type="text" disabled>
          <label for="day">Day</label>
        </div>
        <div class="md-form form-group mt-5">
          <input id="time" value='@classItem.startTime.getOrElse("(Not set)")' class="form-control" type="text" disabled>
          <label for="time">Time</label>
        </div>
        <div class="md-form form-group mt-5">
          <input id="venue" value='@classItem.venueId.getOrElse("(Not set)")' class="form-control" type="text" disabled>
          <label for="venue">Venue</label>
        </div>
        <div class="button-rows">
          <a href="@routes.ClassController.edit(classItem._id.get)" class="btn btn-primary btn-sm">Edit</a>
        </div>
      </form>
    </div>
    <div class="col-1">
    </div>
    <div class="col-5">
      <form class="forms">
        <div class="md-form form-group mt-5">
        @for(student <- classItem.students) {
          <input value="@student" class="form-control student-emails" type="text" disabled>
          <label class="student-labels">Students</label>
        }
        </div>
      </form>
    </div>
  </div>

}
