#calendar-header {
  display: flex;
  justify-content: space-between;
  button {
    margin-right: 0;
  }
}

#check-availability-button {
  background-color: #3f9b68;
  height: 35px;
}

#add-task-button {
  background-color: #9b3f72;
  height: 35px;
}

.fc-day-header {
  padding: 2px !important;
}

.fc-event {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  background-color: #3f729b;
  color: #ffffff !important;
  border: none;
  .fc-content {
    padding: 5px;
    border: none;
    font-size: 0.7rem;
    .fc-time {
      font-weight: bolder !important;
      display: inline-block;
      margin-right: 2px;
    }
    .fc-title {
      font-weight: lighter !important;
    }
  }
  .fc-bg {
    background: none;
  }
}

.fc-v-event {
  margin: 3px;
  .fc-content {
    font-size: 0.65rem;
    padding: 8px;
    .fc-time {
      font-size: 0.7rem;
      display: inline-block;
      margin-bottom: 2px;
    }
  }
}

.fc-content {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fc-axis {
  padding: 0 8px !important;
  font-size: 0.8rem;
}

.fc-list-empty {
  padding: 5px;
}

.fc-event-dot {
  background-color: #3f729b;
}

.fc-list-heading-alt {
  font-weight: normal;
}

.fc-list-item {
  cursor: pointer;
}

.modal-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 180px;
  #event-modal-info, #event-modal-replacement {
    h5 {
      line-height: 0.95;
      #event-modal-subject {
        cursor: pointer;
        font-size: 1.2rem;
      }
      #event-modal-class {
        font-weight: inherit;
      }
    }
    p {
      font-size: 1rem;
      margin-bottom: 0;
      line-height: 1.1;
      .event-date {
        font-weight: bolder;
        margin-bottom: 3px;
        display: inline-block;
      }
      .event-time, .event-venue {
        font-size: 0.85rem;
      }
    }
  }
  #event-modal-replacement {
    min-width: 50%;
    #event-modal-replacement-bar {
      margin-top: 12px;
      margin-bottom: 7px;
      margin-left: auto;
      margin-right: auto;
      width: 75%;
      height: 7px;
      #event-modal-replacement-percentage {
        height: 7px;
      }
    }
    #event-modal-replacement-students {
      font-size: 0.8rem;
    }
  }
  #event-modal-replacement-pagination {
    margin-top: 10px;
    margin-bottom: -15px;
    .pagination {
      margin-bottom: 0;
    }
  }
}

.modal-header, .modal-footer {
  padding-top: 12px;
  padding-bottom: 12px;
  button {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

.modal-footer {
  min-height: 70px;
  #event-modal-spinner {
    width: 30px;
    height: 30px;
  }
}

#add-task-body {
  height: initial;
  display: initial;
}

.popover-header {
  font-weight: 600;
  padding: 10px 15px;
  font-size: 0.9rem;
}

.popover-body {
  padding: 10px 15px;
  font-size: 0.8rem;
  min-width: 200px;
  line-height: 1.2;
  p {
    margin-bottom: 0;
  }
  .workload-task {
    font-weight: 600;
    margin-bottom: 3px
  }
  .workload-subject, .workload-lecturer {
    font-size: 0.75rem;
  }
  .workload-progress {
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 5px;
  }
  .workload-students {
    font-size: 0.7rem;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
