.fc-day-header {
  padding: 2px !important;
}

.fc-event {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 2px;
  background-color: #3f729b;
  color: #ffffff !important;
  border: none;
  .fc-content {
    padding: 5px;
    border: none;
    font-size: 0.7rem;
    .fc-time {
      font-weight: bolder !important;
      display: inline-block;
      margin-right: 2px;
    }
    .fc-title {
      font-weight: lighter !important;
    }
  }
  .fc-bg {
    background: none;
  }
}

.fc-v-event {
  margin: 3px;
  .fc-content {
    font-size: 0.65rem;
    padding: 8px;
    .fc-time {
      font-size: 0.7rem;
      display: inline-block;
      margin-bottom: 2px;
    }
  }
}

.fc-axis {
  padding: 0 8px !important;
  font-size: 0.8rem;
}

.fc-list-empty {
  padding: 5px;
}

.fc-event-dot {
  background-color: #3f729b !important;
}

.fc-list-heading-alt {
  font-weight: normal;
}
