#classes-header {
  display: flex;
  justify-content: space-between;
  #fetch-button {
    height:35px;
    margin-right: 0;
    align-self: flex-end;
  }
  #fetch-spinner {
    margin-bottom: 7px;
    align-self: flex-end;
    width: 30px;
    height: 30px;
  }
}

#subject-list, .class-lists {
  .list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      line-height: 1.15;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .detail {
        font-size: 75%;
      }
    }
    .btn {
      margin: 0;
      padding: 0.35rem 1.25rem;
    }
  }
}

.student-lists {
  font-size: smaller;
  line-height: 1.15;
}
