@import "navbar";
@import "login";
@import "calendar";
@import "classes";

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-weight: bolder;
  margin-bottom: 0;
}

form[METHOD="POST"] {
  margin-top: -1rem;
  margin-bottom: 100px;
  small {
    display: inline-block;
  }
  .button-rows {
    display: flex;
    justify-content: flex-end;
      margin-top: 2rem;
    .btn:last-child {
      margin-right: 0;
    }
  }
}

.truncate {
  width: 80%;
}

.gone {
  display: none !important;
}

.scroll-lock {
  overflow: hidden;
}
