@(
  lecturers: List[User]
)(implicit flash: Flash, request: RequestHeader)

@main("Lecturers", Some(2)) {

  <div class="row mb-3">
    <div class="col">
        <h1>Lecturers</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <ul class="list-group">
        @for(lecturer <- lecturers) {
          @if(lecturer.email != request.session("email")) {
            <li class="list-group-item">
              <strong>@lecturer.name</strong>
              <small class="text-muted">@lecturer.email</small>
            </li>
          }
        }
      </ul>
    </div>
  </div>

}
